@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

html, body {
  min-height: 100vh;
}

body::after {
  content: "";
  background: url('../images/Light-Gradient.jpeg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body, input, button {
  font-family: 'Titillium Web', sans-serif;
  color: #484848;
}

#root, #wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wrapper {
  min-width: 400px;
  min-height: 255px;
}

h1 {
  font-size: 1.8rem;
  line-height: 4rem;
}


h2 {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

nav {
  margin-bottom: 1rem;
}

nav a {
  line-height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #484848;
}

nav a.active {
  color: #00808c;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 3.8rem;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(238, 238, 238);
  margin: 1rem 0 1rem 0;
}

#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  min-width: 100%;
  font-size: 1.2rem;
  color: #ff4b00;
  background-color: #b4b36213;
}

#keypad {
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(238, 238, 238);
  padding: 0.55rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button:active {
  box-shadow: 0 0 5px #93005a;
  border: 1px solid #93005a;
  background-color: white;
}

button:disabled {
  color: #4848486b;
}

input {
  height: 1.9rem;
  border-radius: 0;
  margin: -1px;
  border: 1px solid #DDDDDD;
  background-color: white;
  outline: none;
}

input {
  width: 230px;
  margin-right: 1rem;
}

input:active {
  box-shadow: 0 0 5px #93005a;
  border: 1px solid #93005a;
}

footer {
  margin-top: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #93005a;
}

/* Credit to Ana https://stackoverflow.com/a/12817454 */
#wheel {
  --m: 6;
  --tan: 1;
  --d: 4em;
  /* image size */
  --rel: 1.2;
  /* how much extra space we want between images, 1 = one image size */
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan));
  /* circle radius */
  --s: calc(2*var(--r) + var(--d));
  /* container size */
  position: relative;
  width: var(--s);
  height: var(--s);
  margin-bottom: 2rem;
}

#wheel div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-.5*var(--d));
  width: var(--d);
  height: var(--d);
  --az: calc(var(--i)*1turn/var(--m));
  transform:
    rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)))
}

#wheel .cog {
  border-radius: 50%;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

#wheel .cog {
  background-color: #00808c
}

#wheel .cog.active {
  background-color: #ff4b00;
}

#quiz {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quizAnswers {
  width: 100%;
  margin-bottom: 2rem;
}

.answer {
  width: 100%;
  line-height: 2.5rem;
  padding: 0.55rem;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

form {
  min-width: 400px;
  line-height: 2.5rem;
  padding: 0.55rem;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  padding-left: 0.5rem;
  border-radius: 0;
  margin-bottom: 1rem;
  border: 1px solid #DDDDDD;
  background-color: white;
  outline: none;
  width: 100%;
  height: 2.4rem;
}

button {
  border: 1px solid #DDDDDD;
  border-radius: 0;
  min-height: 2.2rem;
  min-width: 6rem;
}

form button {
  width: 100%;
}

.answer.selected {
  background-color: rgb(252, 252, 252);
  border: 1px dashed #48484871;
}
